/* Variables */
:root {
  --header-image: url('https://sadhost.neocities.org/images/layouts/wp.jpeg');
  --body-bg-image: url(../Imagenes/fondos/kao_jien_blue.gif);
  --content: #253a6e;
}

/* Fuente personalizada */

@font-face {
  font-family: Fredoka;
  src: url(/font/Fredoka.ttf);
}

/*@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
}*/

/* Estilos generales */
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #08031A;
  background-size: 65px;
  color: #fceaff;
  background-image: var(--body-bg-image);
  font-family: Fredoka;
}

.Icono_yo{
  width:100%;
  border-radius: 50%;
  border: 6px solid #f4b5c1;
}

* {
  box-sizing: border-box;
}

/* Layout principal */
#container {
  max-width: 70%;
  margin: 0 auto;
}

#container a {
  color: #f4b5c1;
  font-weight: bold;
}

/* Header */
#header {
  width: 100%;
  background-color: #253a6e;
  height: 200px;
  background-image: var(--header-image);
  background-size: 100%;
}

/* Navbar */
#navbar {
  height: 40px;
  background-color: #281646;
  width: 100%;
  margin: 0 auto 5px auto;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 10px;
}

#navbar li a {
  color: #f4b5c1;
  font-weight: 800;
  text-decoration: none;
}

#navbar li a:hover {
  color: #a49cba;
  text-decoration: underline;
}

/* Flex layout */
#flex {
  display: flex;
}

aside {
  background-color: #354f90 ;
  width: 200px;
  padding: 20px;
  font-size: smaller;
}

main {
  background-color: #405eac;
  flex: 1;
  padding: 20px;
  order: 2;
}

/* Sidebars */
#leftSidebar {
  order: 1;
}

#rightSidebar {
  order: 3;
}

/* Footer */
footer {
  background-color: #281646;
  width: 100%;
  height: 40px;
  padding: 1px;
  text-align: center;
}

/* Tipografía */
h1, h2, h3 {
  color: #d6def3;
}

h1 {
  font-size: 25px;
}

strong {
  color: #f4b5c1;
}

/* Caja especial */
.box {
  background-color: #281646;
  border: 2px solid #f4b5c1;
  padding: 10px;
}

.box_caz {
  background-color: #2e1546; /* color morado */
  padding: 15px;
  border: 2px solid #f5a4d4; /* rosita */
  border-radius: 15px;
  margin: 20px auto;
  width: fit-content;
  max-width: 90%;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.box_caz p {
  color: #ffffff;
  font-weight: bold;
  margin-top: 0;
}

/* Barra superior */
#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: smaller;
  background-color: #281646;
}

/* Responsive */
@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
  }

  main {
    order: 1;
  }

  #leftSidebar {
    order: 2;
  }

  #rightSidebar {
    order: 3;
  }

  #navbar ul {
    flex-wrap: wrap;
  }
}
